 
  .card {
    padding: 10px 10px 10px 10px;
    color: gray;
    background-color:antiquewhite;
    border-radius: 1rem;
    margin: 1rem;
  }
  
  .read-the-docs {
    color: #888;
  }
  
.button{
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

